body {
  background-color: #E5E3C9;
}

h1 {
  color: #203239;
}

h3 {
  color: #203239;
}

hr {
  border-style: dotted none none;
  border-color: #789395;
  border-width: 5px;
  width: 5%;
}
